* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Square */

.boxes {
    margin-left: 60px;
    margin-top: 60px;
}
.box-1 {
    width: 500px;
    height: 500px;
    background: red;
}

.box-2 {
    width: 400px;
    height: 400px;
    background: yellow;
    position: relative;
    top: 50px;
    left: 50px;
}

.box-3 {
    width: 300px;
    height: 300px;
    background: green;
    position: relative;
    top: 50px;
    left: 50px;
}

.box-4 {
    width: 200px;
    height: 200px;
    background: yellow;
    position: relative;
    top: 50px;
    left: 50px;
}

.box-5 {
    width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

/*Plus*/

.plus {
    height: 200px;
    width: 200px;
    position: relative;
    left: 75px;
}

.horizontal {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: red;
    top: 75px;
}

.vertical {
    height: 200px;
    width: 50px;
    position: absolute;
    left: 75px;
    background-color: red;
}

/* E-letter */
