* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 20px;
}

nav {
    position: sticky;
    height: 60px;
    /* width: 100%; */
    top: 10px;
    background-color: rgb(220, 242, 246);
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

li {
    margin-right: 20px;
    display: inline-block;
}

li a {
    text-decoration: none;
}

main {
    /* margin-left: -4px;
    width: 60%;
    display: inline-block;
    vertical-align: top; */
}

.article {
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.article p {
    border-top: 1px solid #f00;
    line-height: 150%;
}

input {
    height: 30px;
}

.email {
    display: inline-block;
}

.name {
    display: inline-block;
    margin-left: -4px;
}
